@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
  
}

// .NavBar {
//   display: flex;
//   justify-content: space-around;
//   width: 100vw;
//   background-color: #f0f0f0;
// }

.HomePage {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom, Indigo, Thistle);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  h1 {
    color: white;
  }
  form {
    margin: 30px 0px 20px 0px;

    #link {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  ul {
    // border: solid Indigo;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;

    li:nth-child(even) {background: #D8BFD8}
    li:nth-child(odd) {background: #DDA0DD}
    li{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      a, button {
        color: #4B0082;
      }

      button:hover {
        background-color: #9291c7;
        border: 1px solid #9291c7;
        color: white;
      }
    }
  }
}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}

.ShowPage {
  width: 40%;
  height: 30%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom, Indigo, Thistle);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  h1 {
    color: white;
    font-size: 25px;
  }
  form {
    margin: 30px 0px 20px 0px;
    // border: solid red;
    align-items: flex-start;

    label  {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      align-content: center;
      padding-top: 5px;

      .label {
        color: white;
      }
      input {
        justify-content: center;
        // width: 100%;
        margin: 5px;
        padding: 0 10px 0px 10px;
      }
      h4 {
        font-size: 20px;
        padding-left: 10px;
        margin-top: 7px;
        color: lightgray;
      }
    }

    input.update {
      width: 100%;
      background-color: #bebde9;
    }

    input.update:hover {
      background-color: #9291c7;
      border: 1px solid #9291c7;
      color: white;
    }
  }
}
