@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
  background-color: #F2F2F2;
}

#app{
  background-color: #F2F2F2;
  height:95vh;
}

.HomePage {
  width: 40vw;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom, Indigo, Thistle);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  h1 {
    color: white;
    font-size: 25px;
  }
  form {
    margin: 30px 0px 20px 0px;
    width: 100%;
    // border: solid black;

    .add{
      margin-top: 7px;
      // border-radius: 8px;
      width: 60px;
    }
    .add:hover {
      background-color: #9291c7;
      border: 1px solid #9291c7;
      color: white;
    }

    #title, #link {
      margin-left: 5px;
      margin-right: 5px;
      // border: solid blue;
      max-width: 100%;
    }
  }
  ul {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 70%;
    // border: solid red;
    li:nth-child(even) {background: #D8BFD8}
    li:nth-child(odd) {background: #DDA0DD}
    li{
      // border: solid yellow;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 5px;
      a, button {
        color: #4B0082;
      }
      a {
        text-align: left;
        // border: solid orange;
      }
      button {
        // border: solid blue;
        // background-color: #C9C9C9;
        font-size: 14px;
      }

      button:hover {
        background-color: #9291c7;
        border: 1px solid #9291c7;
        color: white;
      }
    }
  }
}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}

.ShowPage {
  width: 40vw;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom, Indigo, Thistle);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  h1 {
    color: white;
    font-size: 25px;
  }
  button {
    background-color: #bebde9;
  }
  button:hover {
    background-color: #9291c7;
    border: 1px solid #9291c7;
    color: white;
  }
  form {
    margin: 20px 0px 20px 0px;
    // border: solid green;
    width: 100%;
    label  {
      display: flex;
      flex-direction: column;
      // border: solid blue;
      padding-top: 5px;

      .label {
        color: white;
        // border: solid orange;
        margin-bottom: -2px;
        margin-left: 0px;
        font-size: 17px;
      }
      input, textarea  {
        margin: 5px;
        padding: 0 10px 0px 5px;
        color: Indigo;
        // border: solid red;
      }
      textarea {
        background-color: inherit;
        color: lightgray;
        border: none;
      }
      h4 {
        font-size: 16px;
        padding-left: 10px;
        margin-top: 5px;
        color: lightgray;
        // border: solid yellow;
        text-align: left;
      }
    }

    input.update {
      width: 100%;
      background-color: #bebde9;
    }

    input.update:hover {
      background-color: #9291c7;
      border: 1px solid #9291c7;
      color: white;
    }
  }
}


.NotFoundPage {
  width: 40vw;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom, Indigo, Thistle);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    h2{

    }
}
